@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: #1E1C21;
    height: 91px;
    /*
    padding-top: 20px;
    */
}

.container-grid{
    width: 1200px;
    margin: 0 auto;
}

.cabeçalho{
    /*height: 91px;*/
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";
}

.menu{
    width: 697px;
    display: flex;
    justify-content: space-between;
}